body{
    margin: 0px;
}

/* Dream-area and top-banner section */

h2{
    font-family: 'Fredericka the Great' ;
    color: grey;
    font-size: 30px;
}
h3{
    font-family: 'Trade Winds' ;
    font-size: 15px;
    
}

h4{
    color: lightcoral;
}
.exp-color{
    color: maroon;
    font-weight: 700;
}

ul li{
    font-weight: 700;
    color: olive;
}
ul li:hover{
    color: chocolate;
    font-size: 25px;
}

p{
    color: dimgray;
    text-align: auto;
}

.half-width{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}

.half-width img:hover{
    box-shadow: 10px 10px 40px gray;
    border-radius: 100px;
    width: 500px;
    height: 500px;
    transform: rotate(360deg);
    
}
.top-banner{
    background-image: url("Images/top-banner.png");
    background-repeat: no-repeat;
}

section{
    height: 500px;
    padding-bottom: 150px;
}

.link-button{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-image: linear-gradient(45deg,lightsalmon, tomato);
    color: white;
    font-weight: 700;
}

.link-button:hover{
    color: greenyellow;
    font-size: 18px;
}

.dream-area{

    background-image: url("Images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

/* Experience area section */

.exp-bar{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 85%;
}

.experience-area{

    background-image: url("Images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack{
    border-left: 8px solid;
    border-image: linear-gradient(180deg,rgba(250, 114, 114, 0.795),rgb(154, 255, 71));
    border-image-slice: 1;
}

#desktop-app{
    border-left: 8px solid burlywood;
    border-image: linear-gradient(180deg,rgb(212, 0, 255),rgb(200, 255, 0));
    border-image-slice: 1;
}

/* Header Section */
.header{
    background-image: url(Images/italian-landscape-mountains-nature.jpg);
    height: auto;
    background-repeat: no-repeat;
}

/* Latest Work Done Section */
h1{
    text-align: center;
    color: coral;
    margin-bottom: 55px;
    font-weight: 700;
    font-size: 25px;
}
h1:hover{
    font-weight: 700px;
    font-size: 40px;
    color: lightslategrey;
    
}

.my-work{
    background-image: url(Images/my-work-section/latest-work-bg.png);
    background-repeat: no-repeat;
}


.works{
    width: 90%;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between; 
}

.one-third-width{
    width: 30%;
    margin-left: 2px;
    padding: 2px;
}
.work img{
    width: 100%;
    margin: auto;
}
.work img:hover{

    box-shadow: 10px 10px 40px gray;
    border:5px solid goldenrod;
    transform: rotate(360deg);

}

/* Contact section */

.contact-area{
    background-image: url(Images/biography-bg.png);
    background-repeat: no-repeat;
    padding-bottom: 5px;
    margin: 3px solid rgb(0, 255, 191); 
}

h5{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

/* Email-Button Scetion */

.media-icon{
    text-align: center;
    border: 2px;
    padding: 5px;
    margin: 2px solid goldenrod;
    
}

/* Media Icon Section */
.media-icon ul{
    position: absolute;
    margin-left: 48%;
    transform: translate(-50%,-50%);
    display: flex;
} 

.media-icon ul li{
    list-style: none;
    margin: 0 15px;
   }

.media-icon ul li .fa{
    font-size: 30px;
    line-height: 40px;
    transition: 0.6s;
    color: #000;
}

.media-icon ul li .fa:hover{
    color: white;
}


.media-icon ul li a{
    position: relative;
    display: block;
    height: 110%;
    width: 160%;
    border-radius: 150%;
   /* background-color: goldenrod; */
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.media-icon ul li a:hover{
    transform: translate(0,-18px);
}
 .media-icon ul li:nth-child(1) a:hover{
     color: white;
     background-color: #45499d;
 }

 .media-icon ul li:nth-child(2) a:hover{
     color: whitesmoke;
    background-color: #000;
}

.media-icon ul li:nth-child(3) a:hover{
    color: whitesmoke;
    background-color: #0098df;
}

.media-icon ul li:nth-child(4) a:hover{

    background-color: #55aa7f;
}

.media-icon ul li:nth-child(5) a:hover{
    
    background-color: #2d92f6;
}
/*fotter Section*/

.fotter{

    background-image: url(Images/pexels-photo-268883.jpeg);
    background-repeat: no-repeat;
    margin:0 auto;
    max-height: 30px;
}








